[submodule "SUI/proj1"]
	path = SUI/proj1
	url = https://github.com/AdamZvara/sui-freecell.git
[submodule "SUI/proj2"]
	path = SUI/proj2
	url = https://github.com/AdamZvara/sui-projekt2.git
[submodule "SUI/proj3"]
	path = SUI/proj3
	url = https://github.com/AdamZvara/sui-projekt3.git
[submodule "SUR/proj"]
	path = SUR/proj
	url = https://github.com/Ajchler/sur-projekt-fit.git
